:root {
    --color-green: #378E5E;
    --color-red: #D11F4D;
    --color-orange: #FF8951;
    --control-background-color: rgba(0, 0, 0, .19);
    --control-border-radius: 6px;
    --background-level-0-color: #f8f8f8;
    --background-level-1-color: #fff;
    --text-color: #000;
    --divider-color: #f6f6f6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-level-0-color: #292929;
        --background-level-1-color: rgba(0, 0, 0, .2);
        --text-color: #fff;
        --divider-color: rgba(0, 0, 0, .2);
    }
}

@import './core/reset.less';
@import './core/normalize.less';
@import './core/typography.less';
@import './components/search-result-item.less';
@import './components/search-results.less';
@import './components/search-bar.less';
@import './components/search-scope-bar.less';
@import './components/search-result-item-status.less';
@import './components/links-list.less';
@import './components/page-layout.less';
@import './components/page-footer.less';