.page-footer {
    background-color: var(--background-level-1-color);
    box-shadow: var(--background-level-1-box-shadow);
    font-size: 14px;
    padding: 38px;

    > .inner {
        margin: auto;
        max-width: @content-max-width;
    }

    > .inner > a {
        text-decoration: underline;
    }
}
