.page-footer {
    background-color: var(--background-level-1-color);
    box-shadow: var(--background-level-1-box-shadow);
    padding: 38px;
    font-size: 14px;

    > a {
        text-decoration: underline;
    }
}