.search-bar {
    background: var(--color-green);
    color: #fff;
    padding: 38px;
    font-size: 30px;

    > .inner {
        display: grid;
        align-items: center;
        grid-gap: 16px 32px;
        grid-template-areas: 'text-before input text-after'
                             '. scope-bar .';
        grid-template-columns: max-content 1fr max-content;
        margin: auto;
        max-width: @content-max-width;
    }

    > .inner > .text.-before {
        grid-area: text-before;
    }

    > .inner > .text.-after {
        grid-area: text-after;
    }

    > .inner > .input {
        grid-area: input;
    }

    > .inner > .search-scope-bar {
        grid-area: scope-bar;
    }

    @media (max-width: @content-max-width) {
        > .inner {
            grid-template-columns: 100%;
            grid-template-areas: 'text-before' 'input' 'scope-bar' 'text-after';
        }
    }

    > .inner > .input {
        background-color: var(--control-background-color);
        border-radius: var(--control-border-radius);
        padding: 11px 20px;
    }
}
