.search-result-item {
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .12);
    border-radius: 5px;
    overflow: hidden;
    width: 600px;
    margin: auto;

    > .header {
        color: #fff;
        padding: 36px 48px;
        background-color: var(--header-color);
        display: grid;
        grid-template-columns: repeat(2, max-content);
        align-items: center;
        justify-content: space-between;
    }

    > .header.-green {
        --header-color: var(--color-green);
    }

    > .header.-red {
        --header-color: var(--color-red);
    }

    > .header.-orange {
        --header-color: var(--color-orange);
    }

    > .header > .title {
        font-size: 24px;
    }

    > .section {
        margin-top: 24px;
    }

    > .section > .text,
    > .section > .content,
    > .section > .title {
        margin: 0 48px;
    }

    > .section > .title  {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 12px;
    }

    > .section:not(:last-child) {
        padding-bottom: 24px;
        border-bottom: 2px solid #F6F6F6;
    }

    > .section:last-child {
        margin-bottom: 36px;
    }
}
