.search-result-item {
    background: var(--background-level-1-color);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .12);
    border-radius: 5px;
    overflow: hidden;
    max-width: 600px;
    margin: auto;

    @media (max-width: 600px) {
        border-radius: 0;
    }

    > .header {
        color: #fff;
        padding: 20px 36px;
        background-color: var(--header-color);
        display: grid;
        grid-gap: 8px 18px;
        grid-template-columns: repeat(3, auto);
        grid-template-areas: "title title status" "enumber . .";
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
    }

    > .header.-green {
        --header-color: var(--color-green);
    }

    > .header.-red {
        --header-color: var(--color-red);
    }

    > .header.-orange {
        --header-color: var(--color-orange);
    }

    > .header > .title {
        font-size: 24px;
        grid-area: title;
    }

    > .header > .enumber {
        background-color: #fff;
        border-radius: 1em;
        font-size: 14px;
        padding: 6px 10px;
        color: var(--header-color);
        grid-area: enumber;
    }

    > .header > .status {
        grid-area: status;
    }

    > .section {
        margin-top: 24px;
    }

    > .section > .text,
    > .section > .content,
    > .section > .title {
        margin: 0 48px;
    }

    > .section > .title  {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 12px;
    }

    > .section:not(:last-child) {
        padding-bottom: 24px;
        border-bottom: 2px solid var(--divider-color);
    }

    > .section:last-child {
        margin-bottom: 36px;
    }
}
