.search-result-item {
    background: var(--background-level-1-color);
    box-shadow: var(--background-level-1-box-shadow);
    border-radius: 5px;
    overflow: hidden;
    max-width: @content-max-width;
    margin: auto;

    @media (max-width: @content-max-width) {
        border-radius: 0;
    }

    > .header {
        color: #fff;
        padding: 20px var(--horizontal-space);
        background-color: var(--header-color);
        display: grid;
        grid-gap: 0 18px;
        grid-template-columns: repeat(3, auto);
        grid-template-areas: "title title status" "enumber . .";
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
    }

    > .header.-green {
        --header-color: var(--color-green);
    }

    > .header.-red {
        --header-color: var(--color-red);
    }

    > .header.-orange {
        --header-color: var(--color-orange);
    }

    > .header > .title {
        font-size: 24px;
        grid-area: title;
    }

    > .header > .enumber {
        background-color: #fff;
        border-radius: 1em;
        font-size: 14px;
        padding: 6px 10px;
        color: var(--header-color);
        grid-area: enumber;
        margin-top: 8px;
    }

    > .header > .status {
        grid-area: status;
    }

    > .section {
        margin-top: 24px;
    }

    > .section > .text,
    > .section > .content,
    > .section > .title {
        margin: 0 var(--horizontal-space);
    }

    > .section > .title  {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 12px;
    }

    > details.section:not([open]) > .title {
        margin-bottom: 0;
    }

    > .section:not(:last-child) {
        padding-bottom: 24px;
        border-bottom: 2px solid var(--divider-color);
    }

    > .section:last-child {
        margin-bottom: 36px;
    }
}
